/*
 GENERAL
 */
*{
  margin: 0;
  box-sizing: border-box;
}


/*
  HEADER 
 */
.pattern{
  background-color: #4EA0FF;
  height: 100px;
  background-image: url(../img/pattern.png);
  background-size: contain;
}

.logo{
  width: 300px;
  margin-top: 20px;
}

/*
   MAIN
 */
 main{
   padding: 10px;
 }

 section{
   margin-top: 30px;
 }

 /* Credits */
.credits{
  color: #999999;
}

#booleaner{
  color: #4EA0FF;
}

#date{
  font-size: 15px;
}


/* Paragraphs */
.points p:before{
  content: "\2022";
}


/* Table */
table {
  border-collapse: collapse;
  width: 100%;
}

th{
  background-color: #1FA9E5;
  text-align: left;
  width: 20%;
}

.color{
  background-color: #B2E4F2;
}


