/*
 GENERAL
 */
*{
  margin: 0;
  box-sizing: border-box;
}

 main, footer{
   padding: 10px;
 }

 .container{
   width: 80%;
   margin: 0 auto;
 }

/*
  HEADER 
 */
.pattern{
  background-color: #4EA0FF;
  height: 100px;
  background-image: url(../img/pattern.png);
  background-size: contain;
}

.logo{
  width: 300px;
  margin-top: 20px;
}

/*
   MAIN
*/

 section{
   margin-top: 30px;
 }

 /* Credits */
.greytext{
  color: #999999;
}

#booleaner{
  color: #4EA0FF;
}

#date{
  font-size: 15px;
}


/* Paragraphs */
.points p:before{
  content: "\2022";
}


/* Table */
table {
  border-collapse: collapse;
  width: 100%;
}

th{
  background-color: #1FA9E5;
  text-align: left;
  width: 20%;
}

.color{
  background-color: #B2E4F2;
}


/* 
  FOOTER 
*/

.footer-photo1, .footer-photo2{
  width: 300px;
  height: 200px;
  margin-top: 10px;
}

.footer-photo1{
   background-image: url(../img/monitor.jpg);
}

.footer-photo2{
   background-image: url(../img/graph.jpg);
}

.lorem-text{
  color: white;
  padding: 20px;
  font-size: 30px;
}